.gallery-image {
    width: 360px;
    height: 200px; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
}

.gallery-item {
    list-style-type: none;
}




/* #box {
    width: 50px;
    height: 50px;
    background-color: red;
} */
